[submodule "auth-service"]
	path = auth-service
	url = https://github.com/StasUssanov/test-svisitom-auth-service.git
[submodule "core"]
	path = core
	url = https://github.com/StasUssanov/test-svisitom-core.git
[submodule "api-gate"]
	path = api-gate
	url = https://github.com/StasUssanov/test-svisitom-api-gate.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/StasUssanov/test-svisitom-frontend.git
