[submodule "auth-service"]
	path = auth-service
	url = git@github.com:StasUssanov/test-svisitom-auth-service.git
[submodule "core"]
	path = core
	url = git@github.com:StasUssanov/test-svisitom-core.git
[submodule "api-gate"]
	path = api-gate
	url = git@github.com:StasUssanov/test-svisitom-api-gate.git
